.Rproj.user
.Rhistory
.RData
.Ruserdata
wc2-5/bio9.bil
wc2-5/bio8.hdr
wc2-5/bio8.bil
wc2-5/bio7.hdr
wc2-5/bio7.bil
wc2-5/bio_2-5m_bil.zip
wc2-5/bio9.hdr
wc2-5/bio6.hdr
wc2-5/bio6.bil
wc2-5/bio5.hdr
wc2-5/bio5.bil
wc2-5/bio4.hdr
wc2-5/bio4.bil
wc2-5/bio3.hdr
wc2-5/bio3.bil
wc2-5/bio2.hdr
wc2-5/bio2.bil
wc2-5/bio19.hdr
wc2-5/bio19.bil
wc2-5/bio18.hdr
wc2-5/bio18.bil
wc2-5/bio17.hdr
wc2-5/bio17.bil
wc2-5/bio16.hdr
wc2-5/bio16.bil
wc2-5/bio15.hdr
wc2-5/bio15.bil
wc2-5/bio14.hdr
wc2-5/bio14.bil
wc2-5/bio13.hdr
wc2-5/bio13.bil
wc2-5/bio12.hdr
wc2-5/bio12.bil
wc2-5/bio11.hdr
wc2-5/bio11.bil
wc2-5/bio10.hdr
wc2-5/bio10.bil
wc2-5/bio1.hdr
wc2-5/bio1.bil
